**/.DS_Store
**/.idea
**/.vscode
**/.embuild
**/target
**/?
.devcontainer
book
artifacts
mdbook-plantuml-img
swarm/coverage
swarm/local
swarm/logs
tests/integration/certs/

**/.claude

**/local.jsonnet

**/*.aot
**/*.meta

.workflow/
