**/.DS_Store
**/.idea
**/.vscode
**/.helix
**/.embuild
**/target
**/?


.devcontainer
book
artifacts
mdbook-plantuml-img
swarm/coverage
swarm/local
swarm/logs
tests/integration/certs/

**/.claude
**/.envrc

**/local.jsonnet

**/*.aot
**/*.meta

.workflow/
